.card{
    color: #fdfeff;
    background: #047cfc;
    border-radius: 3px;
    margin-bottom: 5px;
    min-height: 150px;
    
    
}
.card__right{
    
    color: #fdfeff;
    flex:0.9;
    margin-top: 15px;
    
}
.cardTeacher{
    border: 1px solid gray;
    border-radius: 3px;
    min-height: 150px;
    padding: 2%;
}
.card-bodyTeacher{
    margin-left: 10px;
}
.imagen{
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    margin-left: 80px;
    margin-top: 15px;
}


.text-uppercase {
    font-size: 11px;
}