// Layout - Reset
body{
   background-color:  #F9FAFB
}

.container-fluid {
    padding-right: 0px; 
    padding-left: 0px; 
}

.btn-primary {
    color: #000;
    background-color: #F5A623;
    border: #F5A623;
}

.btn-primary:hover {
    color: #fff;
}

a:hover {
    text-decoration: none;
}

.text-uppercase {
    font-size: 11px;
}
.text-mini{
        font-size: 11px;
}

// sidebar
.active{
    color: black;
}

a {
    color: #989795;
} 

.nav-link:hover{
    color: #F5A623;
}

.nav-link.disabled {
    color: #ccc;
}

.navbar{
display: flex; justify-content: space-between; align-items: center;
}

.sidenav {
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.53);
}

// problems
.avatar-estudiantes {
    width: 30px;
    height: 30px;
    margin: 2px;
}

// Login

.login{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;  
}

.login__container {
    // width: 800px;
    height: fit-content;
    display: flex;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin: 4% auto;
}

.login__left{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.login__right>img{
    // width: 450px;
    padding:0px;
    max-height: 500px;
}

.login__left>p{
    width: 250px;
}


i.fas.fa-circle.lastPoint {
    font-size: small;
    display: flex;
    justify-content: center;
}

i.fa.fa-times {
    color: red;
    font-size: small;
    display: flex;
    justify-content: center;
}

.legenda{
    max-width: 965px;
    margin: 0 auto ;
}
.problem-not-finished{
    background-color: #d8d8d8;
}
.d1{
    background-color: #f8e71c;
    border-radius: 25px;
    
    }
.d2{
    background-color:#f5a623;
    border-radius: 25px;}
.d3{
    background-color:#8b470a;
    border-radius: 25px;} 
.d4{
    background-color:#4a4a4a;
    border-radius: 25px;}

.legend{
        min-width: 60px;
        max-height: 10px;
    
    margin-top: 8px;
}

.marcas{
    margin: auto;
}

/* tabla */
table{
margin: 0 auto;
min-width: 965px;
}
table td {
       border-left: 1px solid #b4b4b4;
       border-right: 1px solid #b4b4b4;
}
table th {
    min-width: 30px;
    border-right: 1px solid #b4b4b4;
}

body {
    overflow:hidden;
}

.scrollbar-kotokan::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-kotokan::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-kotokan::-webkit-scrollbar-thumb {
border-radius: 10px;
background-color: #F5A623; }


.scroll {
position: relative;
overflow-y: scroll;
height: 440px;
width: 1250px;
margin: 0 auto; 
}

.content-name{
    margin: 1% auto;
    width: 1280px;
}
.btn-content-name {
    color: #000;
    background-color: transparent;
    border: none;
}
.btn-content-name:hover {
    color: #000;
    background-color: transparent;
    border: none;
}
.btn-content-name:active {
    color: #000;
    background-color: transparent;
    border: none;
}



.show > .btn-primary.dropdown-toggle {
    color: #000;
    background-color: transparent;
    border-color: transparent;
}

.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary:focus, .btn-primary.focus {
     box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
      box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #000;
    background-color: transparent;
    border-color: transparent;
}
.dropdown-item:active {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}

.texto-gris{
    color: #b4b4b4;
    font-weight: 500;
}


.cuadradito{
    width: 100%;
    height: 100%;
    
}

th {
    font-weight: 400;
}

th.text-uppercase {
    font-weight: 700;
}

button.btn-content-name.dropdown-toggle.btn.btn-primary {
    font-weight: 500;
}