.container {
 -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.53);
-moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.53);

/*  width:70%; */
 background-color: white;
}


    