/*.reset-login {
-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.53);
-moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.53);
 background-color: white;
}*/
.login{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center; 
    
    
}
.login__container {
    width: 800px;
    height: fit-content;
    display: flex;
    
    
    border-radius: 5px;
    border: 1px solid lightgray;
   
}

.login__left{
    
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    

}
.login__right>img{
    width: 450px;
    padding:0px;

}
.login__left>p{
    width: 250px;
}