.estudiantes-circulo {
    width: 30px;
    height: 30px;
    margin: 2px;
}

.container {
    background-color: #e1e1e152;
}

.col-md-4.separacion {
    background-color: white;
    border-radius: 3px;
    padding: 20px;
}

.problem-title{

}

.separacion{
    margin: 5px;
}

.text-uppercase {
    font-size: 11px;
}