.estudiantes-circulo {
    width: 30px;
    height: 30px;
    margin: 2px;
} 

.separacion{
    background-color: white;
    margin: 1%;
    padding: 1%;
    border-radius: 6px;
}

.card.struggling {
    background: #ffffff;
    color: #000;
}

.avatar-group{
    display: flex;
    direction: rtl;
}


    